/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.header {
  background-color: darkblue;
  color: white;
  height: 20vh;
  display: flex;
  justify-content: center;
  font-size: 36px;
  align-items: center;
}
.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin: 30px;
}
.book {
  display: flex;
  flex-direction: column;
  background-color: gray;
  padding: 15px;
  align-items: center;
  border: 3px solid black;
  border-radius: 10px;
}
.book > div {
  margin-bottom: 5px;
}
.book > div:last-child {
  margin-bottom: 0;
}
.book-title {
  font-weight: bold;
  font-size: 20px;
}
.book-author {
  font-style: italic;
}

.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.add-book {
  display: flex;
  align-items: center;
}
.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gray;
  padding: 15px;
  border: 3px solid black;
  border-radius: 10px;
  visibility: hidden;
}
.open-popup {
  visibility: visible;
}
.popup > i {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.popup > form {
  display: flex;
  flex-direction: column;
}
.popup > form > span {
  align-self: center;
}
.popup > form > button {
  width: 75px;
  align-self: center;
}
